<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit <%= workout.workoutName %> </title>
</head>
<body>
  <h1>Edit <%= workout.workoutName %></h1>

  <form method="POST" action="/workouts/<%= workoutCategory.categoryName.toLowerCase() %>/<%= workout.workoutID %>?_method=PATCH">
    <label for="workoutName">Workout Name: </label>
    <input type="text" name="workoutName" id="workoutName" value="<%= workout.workoutName %>">
    <br>
    <label for="description">Description: </label>
    <br>
    <textarea name="description" id="description" cols="30" rows="10">
      <%= workout.description %> 
    </textarea>
    <br>
    <button>Edit Changes</button>
  </form>
  
</body>
</html>