<%- include('partials/head') %> 


<body>
  <%- include('partials/navbar') %> 
  <h1>Browsing The <%= name %> SubReddit</h1>

  <h2><%= description %> </h2>
  <p> <%= subscribers %> Total Subscribers </p>

  <hr>

  <%  for(let post of posts) { %> 
    <article>
      <p><%= post.author %> </p>
      <h3>
        <%= post.title %> 
      </h3>
      <% if (post.img) { %>
        <img src="<%= post.img %> " alt="<%= post.author %>:<%= name %>  ">
      <% } %>
      

    </article>
  <% } %>

</body>
</html>